:root {
    --color-primary: #000000;
    --color-secondary: #1F1F1F;
    --color-stroke: #383838;
    --color-ps-blue: #0072CE;
    --color-light: #FFFFFF;
    --color-input: #F8F8F8;
    --color-explosive-grey: #C4C4C4;
    --color-titanium-white: #E4E4E4;

    --font-primary: "Open Sans", "Arial", sans-serif;
}